@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Rock+Salt&family=Varela+Round&display=swap');
body {
    background-color: #ffffff;
    width: 90%;
    margin: auto;
}
h1 {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #E4EAF4; 
    background-color: #000000;
}
h2 {
    font-family: "Black Ops One", system-ui;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    color: #f2f2f2;
    background-color: #02734A;
}



p {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #000000;
}

img { 
    width: 50%;
    padding-bottom: 20px;
}

li {
    color: #000000;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}
nav a{
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    background-color: #01402E;
    padding: 10px 10px;
    color: #E4EAF4;
}

nav a:visited{
    color:#ffffff;
}
nav a:hover{
    background-color: #000000;
}

footer {
    font-family: "Varela Round", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    color: #E4EAF4; 
    background-color: #3E1CC6;
    text-align: center;
}

aside h1 { 
    color: #000000;
    font-family: "Sedgwick Ave Display", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

aside {
    padding: 2px;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    text-align: center;
}

footer {
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
    display: inline-block;
    background-color: #3E1CC6;
    padding: 10px 10px;
    color: #E4EAF4;
}

a {
    color: #ffffff;
}